@import 'global';
@import 'vars';
@import 'fonts';

.header__top {
    &-inner {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        display: flex;
    }
    &-text {
        span {
            color: $color-orange;
        }
        margin-top: 5px;
        margin-right: 50px;
    }
    &-btn {
        color: #fff;
        font-size: 12px;
        border-radius: 4px;
        background-color: rgb(139, 195, 74);
        width: 72px;
        height: 32px;
        text-align: center;
        padding-top: 3px;
    }
}
.register {
    background-color: $color-orange;
    margin-left: 12px;
}
.header__menu {
    background-color: $bg;
    .menu__list {
        display: flex;
        a {
            font-family: 'Roboto', sans-serif;
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            padding: 15px 0;
        }
        li + li {
            margin-left: 40px;
        }
    }
}
.search {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 535px;
    text-align: center;
    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        &-title {
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 10px;
            line-height: 72px;
        }
        &-text {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 50px;
            line-height: 30px;
        }
        &-form {
            max-width: 670px;
            font-weight: 500;
            margin: 0 auto;
            position: relative;
            input {
                width: 100%;
                display: block;
                border: 0;
                height: 56px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                padding: 23px 58px 23px 21px;
                outline: none;
                &::placeholder {
                    font-weight: 500;
                }
            }
            img {
                height: 20px;
                width: 20px;
                z-index: 2;
            }
            button {
                position: absolute;
                right: 20px;
                top: 17px;
                border: 0;
                background-color: transparent;
                outline: none;
            }
        }
        
    }
}